.container
  .page-header
    .row
      .col-md-8
        %h1
          Exercise
          %small
            = @exercise.title
      .col-md-4.text-right
        = link_to 'Edit exercise info', edit_admin_section_exercise_path(@section, @exercise),
          class: 'btn btn-default btn-lg'

  .row
    .col-md-6
      %p.lead
        = @exercise.description
      %iframe{ width:'100%', height:'315', src:"//www.youtube.com/embed/#{@exercise.video_id}", frameborder:'0', allowfullscreen:'true' }
    
    .col-md-6
      %p
        Insert question summary here
