#welcome
  .overlay
    .container.text-center
      %i.icon-laptop.icon-xl
      %h1.text-lg
        MOOCx
        %br
        %small
          Learning. Reinvented.
      %br
      = link_to 'Log in', login_path,
        class: 'btn btn-success btn-lg'
      = link_to 'Create account', register_path,
        class: 'btn btn-primary btn-lg'
      %br
