.container

  .page-header
    %h1 All courses

  %table.table.table-hover
    %tr
      %th Course name
      %th Semester
      %th
    - @courses.each do |course|
      %tr
        %td
          = course.title
        %td
          = course.when
        %td

      

