.container

  .page-header
    %h1 All courses

  %table.table.table-hover
    %tr
      %th Course name
      %th Semester
      %th
    - @courses.each do |course|
      %tr
        %td
          = course.title
        %td
          = course.when
        %td.text-center
          - unless current_user.takes_course(course)
            = link_to "Join course", join_course_path(course),
              class: 'btn btn-success btn-sm'
          - else
            %p Admitted

