.container
  .page-header
    = link_to 'Add course moment', new_admin_course_moment_path(@course),
      class: 'btn btn-success pull-right'
    %h1
      = @course.title
      %br
      %small
        = @course.when
